.siginmodel-container{
  width: 490px;
  height: 598px;
}
.siginmodel-modal-header {
  padding: 15px;
  min-height: 16.42857px;
}
.siginmodel-modal-title {
  margin: 0;
  text-align: center;
  font-size: 24px !important;
  font-weight: normal;
  color: #fe742b;
  padding: 40px 0 67px 0;
}
.siginmodel-modal_name_input {
  height: 47px;
  width: 356px;
  padding-left: 50px;
  line-height: 47px;
  font-size: 18px;
  border-radius: 0;
  margin-left: 20px;
}
.siginmodel-modal_name_input:focus {
  box-shadow: 0 0 4px #fe9d6a;
  border: 2px solid #fe9d6a;
}
.siginmodel-modal_user_icon {
  position: absolute;
  margin: 10px 0 0 25px !important;
  width: 25px;
  height: 28px;
  display: inline-block;
  z-index: 100;
}
.siginmodel-modal_password_input {
  height: 47px;
  width: 356px;
  padding-left: 50px;
  line-height: 47px;
  font-size: 18px;
  border-radius: 0;
  margin-left: 20px;

}
.siginmodel-modal_password_input:focus {
  box-shadow: 0 0 4px #fe9d6a;
  border: 2px solid #fe9d6a;
}
.siginmodel-modal_user_name {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  .text-danger {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    color: #fe742b;
    margin-left: 20px;
  }
}
.siginmodel-signin_user_password {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  .text-danger {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    color: #fe742b;
    margin-left: 20px;
  }
}
.siginmodel-modal_upassword_icon {
  position: absolute;
  margin: 10px 0 0 25px !important;
  width: 25px;
  height: 28px;
  display: inline-block;
  z-index: 100;
}
.siginmodel-forget_auto {
  margin-bottom: 30px;
  padding-top: 10px;
  width: 430px;
}
.signin_auto {
  float: left;
  margin-left: 20px;
  color: #aaa9a9;
  margin: 0;
  padding-left: 20px;
  >label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
  }
}
.signin_forget {
  float: right;
  font-size: 14px;
  font-weight: normal;
  color: #fe742b;
  text-decoration: underline;
}
.signin_btn {
  margin-bottom: 10px;
  width: 410px;
  margin-left: 20px;
  >button {
    display: block;
    height: 47px;
    width: 100%;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: #fe742b;
    font-size: 20px;
    opacity: 1;
    color: #FFFFFF;
    &:hover {
      color: #FFFFFF;
    }
  }
}
.signin_signup {
  margin-bottom:30px;
  text-align: right;
  margin-right: 30px;
  >a {
    text-decoration: underline;
    font-size: 14px;
    color: #03c180;
    cursor: pointer;
  }
  a:hover, a:focus {
    text-decoration: none;
  }
}
.third {
  width: 410px;
  margin: 0 auto;
}
.third_platform {
  margin: 18px 0 40px 0;
  padding: 0 90px 0 90px;
  .third_icon {
    display: inline-block;
    height: 34px;
  }

  .third_wechat {
    padding: 0 53px 0 53px;
  }
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity:1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}