// banner
.banner-w3layouts.about-banner
    .banner-img1
    // banner-info
    .banner-agileinfo
        .container
            .w3header
                // header
                nav.navbar.navbar-default
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        h1
                            a(href='index.html') Focus
                    // navbar-header
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        form.navbar-right.w3ls-search(action='#', method='post')
                            input(type='search', name='Search', placeholder='Enter your text...', required='')
                            button.btn.btn-default(type='submit', aria-label='Left Align')
                                span.glyphicon.glyphicon-search
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='index.html') Home
                            li
                                a.active(href='about.html') About
                            li
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    | Pages
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='icons.html') Web Icons
                                    li
                                        a(href='codes.html') Short Codes
                            li
                                a(href='portfolio.html') Portfolio
                            li
                                a(href='contact.html') Contact Us
                        .clearfix
            // //header
            .banner-w3text
                h2 About Us
        // //banner-info
// //banner
// about
.about.agileits
    .container
        .agileits-title
            h3 Our Work
            p
                | Mauris rutrum turpis eget tincidunt eleifend vestibulum condimentum mollis tellus eu magna laoreet.
        .about-info
            .col-md-8.about-grids
                h4 Blanditiis praesentium deleniti atque corrupti quos
                p
                    | Dignissimos at vero eos et accusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecat officia deserunt mollitia laborum et dolorum fuga. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecat
                .embed-responsive.embed-responsive-16by9
                    iframe(src='https://player.vimeo.com/video/44639534')
            .col-md-4.about-grids
                h4 Popular Albums
                .pince
                    .pince-left
                        h5 01
                    .pince-right
                        p
                            | Vero vulputate enim non justo posuere placerat. Phasellus eget purus vel mauris tincidunt tincidunt.
                    .clearfix
                .pince
                    .pince-left
                        h5 02
                    .pince-right
                        p
                            | Vero vulputate enim non justo posuere placerat. Phasellus eget purus vel mauris tincidunt tincidunt.
                    .clearfix
                .pince
                    .pince-left
                        h5 03
                    .pince-right
                        p
                            | Vero vulputate enim non justo posuere placerat. Phasellus eget purus vel mauris tincidunt tincidunt.
                    .clearfix
                .pince
                    .pince-left
                        h5 04
                    .pince-right
                        p
                            | Vero vulputate enim non justo posuere placerat. Phasellus eget purus vel mauris tincidunt tincidunt.
                    .clearfix
            .clearfix
// //about
// Stats
.stats.news-w3layouts
    .container
        .agileits-title
            h3 Our Stats
            p
                | Mauris rutrum turpis eget tincidunt eleifend vestibulum condimentum mollis tellus eu magna laoreet.
        .stats-info.agileits-w3layouts
            .col-md-3.col-sm-3.col-xs-6.stats-grid
                .stats-img
                    i.fa.fa-users(aria-hidden='true')
                .numscroller.numscroller-big-bottom(data-slno='1', data-min='0', data-max='157000', data-delay='.5', data-increment='100') 157000
                p Happy Clients
            .col-md-3.col-sm-3.col-xs-6.stats-grid
                .stats-img.w3-agileits
                    i.fa.fa-calendar-check-o(aria-hidden='true')
                .numscroller.numscroller-big-bottom(data-slno='1', data-min='0', data-max='850', data-delay='8', data-increment='1') 850
                p Our Events
            .col-md-3.col-sm-3.col-xs-6.stats-grid
                .stats-img.w3-agileits
                    i.fa.fa-briefcase(aria-hidden='true')
                .numscroller.numscroller-big-bottom(data-slno='1', data-min='0', data-max='80000', data-delay='.5', data-increment='100') 80000
                p Projects
            .col-md-3.col-sm-3.col-xs-6.stats-grid
                .stats-img.w3-agileits
                    i.fa.fa-trophy(aria-hidden='true')
                .numscroller.numscroller-big-bottom(data-slno='1', data-min='0', data-max='269', data-delay='8', data-increment='1') 269
                p Awards
            .clearfix
// //Stats
// about-team
.team
    .container
        .agileits-title
            h3 Our Team
            p
                | Mauris rutrum turpis eget tincidunt eleifend vestibulum condimentum mollis tellus eu magna laoreet.
        .team-agileinfo
            .col-md-3.col-sm-6.col-xs-6.team-grids
                .thumbnail.team-agileits
                    img.img-responsive(src='images/t1.jpg', alt='...')
                    .w3agile-caption
                        h4 Vaura Tegsner
                        p
                            | Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary
                        .social-icon
                            a.social-button.twitter(href='#')
                                i.fa.fa-twitter
                            a.social-button.facebook(href='#')
                                i.fa.fa-facebook
                            a.social-button.google(href='#')
                                i.fa.fa-google-plus
                            a.social-button.dribbble(href='#')
                                i.fa.fa-dribbble
            .col-md-3.col-sm-6.col-xs-6.team-grids
                .thumbnail.team-agileits
                    img.img-responsive(src='images/t2.jpg', alt='...')
                    .w3agile-caption
                        h4 Jark Kohnson
                        p
                            | Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary
                        .social-icon
                            a.social-button.twitter(href='#')
                                i.fa.fa-twitter
                            a.social-button.facebook(href='#')
                                i.fa.fa-facebook
                            a.social-button.google(href='#')
                                i.fa.fa-google-plus
                            a.social-button.dribbble(href='#')
                                i.fa.fa-dribbble
            .col-md-3.col-sm-6.col-xs-6.team-grids
                .thumbnail.team-agileits
                    img.img-responsive(src='images/t3.jpg', alt='...')
                    .w3agile-caption
                        h4 Goes Mehak
                        p
                            | Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary
                        .social-icon
                            a.social-button.twitter(href='#')
                                i.fa.fa-twitter
                            a.social-button.facebook(href='#')
                                i.fa.fa-facebook
                            a.social-button.google(href='#')
                                i.fa.fa-google-plus
                            a.social-button.dribbble(href='#')
                                i.fa.fa-dribbble
            .col-md-3.col-sm-6.col-xs-6.team-grids
                .thumbnail.team-agileits
                    img.img-responsive(src='images/t4.jpg', alt='...')
                    .w3agile-caption
                        h4 Chunk Erson
                        p
                            | Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary
                        .social-icon
                            a.social-button.twitter(href='#')
                                i.fa.fa-twitter
                            a.social-button.facebook(href='#')
                                i.fa.fa-facebook
                            a.social-button.google(href='#')
                                i.fa.fa-google-plus
                            a.social-button.dribbble(href='#')
                                i.fa.fa-dribbble
            .clearfix
// //about-team
// footer start here
.agile-footer
    .container
        .footer-agileinfo
            .col-md-4.col-sm-6.footer-wthree-grid
                h6
                    a(href='index.html') Focus
                p
                    | Aenean vitae metus sit amet purus sodales blandit. Nullam ut dolor eu urna viverra semper. Mauris est odio, laoreet laoreet sapien non, sollicitudin bibendum nulla.
            .col-md-3.col-sm-6.footer-wthree-grid
                h3 Navigation
                ul
                    li
                        a(href='index.html') Home
                    li
                        a(href='about.html') About
                    li
                        a(href='portfolio.html') Portfolio
                    li
                        a(href='contact.html') Contact
            .col-md-2.col-sm-6.footer-wthree-grid
                h3 Archives
                ul
                    li
                        a(href='single.html') Nov 2016
                    li
                        a(href='single.html') Oct 2016
                    li
                        a(href='single.html') Sept 2016
                    li
                        a(href='single.html') Aug 2016
            .col-md-3.col-sm-6.footer-wthree-grid.w3social
                h3 Social Media
                ul
                    li
                        a(href='#')
                            i.fa.fa-google-plus
                            |  Google-plus
                    li
                        a(href='#')
                            i.fa.fa-facebook
                            |  Facebook
                    li
                        a(href='#')
                            i.fa.fa-twitter
                            |  Twitter
                    li
                        a(href='#')
                            i.fa.fa-dribbble
                            |  Dribbble
            .clearfix
// //footer end here
// copy rights start here
.copyw3-agile
    .container
        p
            | © 2017 Focus. All Rights Reserved | Design by
            a(href='http://w3layouts.com/', target='_blank') W3layouts
// //copy right end here
script(src='../../assets/js/SmoothScroll.min.js')
// Progressive-Effects-Animation-JavaScript
script(type='text/javascript', src='../../assets/js/numscroller-1.0.js')
// //Progressive-Effects-Animation-JavaScript
// start-smooth-scrolling
script(type='text/javascript', src='../../assets/js/move-top.js')
script(type='text/javascript', src='../../assets/js/easing.js')
script(type='text/javascript').
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
// //end-smooth-scrolling
// smooth-scrolling-of-move-up
script(type='text/javascript').
    $(document).ready(function() {
        /*
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear'
        };
        */
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
// //smooth-scrolling-of-move-up
//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script(src='../../assets/js/bootstrap.js')
