.index-container
    .banner-w3layouts.about-banner
        .banner-img1
        // banner-info
        .banner-agileinfo
            .container
                .w3header
                    // header
                    nav.navbar.navbar-default
                        .navbar-header
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            h1
                                a(href='index.html') Focus
                        // navbar-header
                        #bs-example-navbar-collapse-1.collapse.navbar-collapse
                            form.navbar-right.w3ls-search(action='#', method='post')
                                input(type='search', name='Search', placeholder='Enter your text...', required='')
                                button.btn.btn-default(type='submit', aria-label='Left Align')
                                    span.glyphicon.glyphicon-search
                            ul.nav.navbar-nav.navbar-right
                                li
                                    a(href='index.html') Home
                                li
                                    a(href='about.html') About
                                li
                                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                        | Pages
                                        span.caret
                                    ul.dropdown-menu
                                        li
                                            a(href='icons.html') Web Icons
                                        li
                                            a(href='codes.html') Short Codes
                                li
                                    a(href='portfolio.html') Portfolio
                                li
                                    a(href='contact.html') Contact Us
                            .clearfix
                // //header
                .banner-w3text
                    h2 Single Page
            // //banner-info
    // //banner
    // single
    .single
        .container
            .wthree_single_grid
                h4 Itaque earum rerum hic tenetur
                ul
                    li
                        span.fa.fa-user(aria-hidden='true')
                        a(href='#') Michael Smith
                    li
                        span.fa.fa-tags(aria-hidden='true')
                        a(href='#') 5 Tags
                    li
                        span.fa.fa-envelope-o(aria-hidden='true')
                        a(href='#') 5 Comments
                    li
                        span.fa.fa-pencil-square-o(aria-hidden='true')
                        | Recusandae
            .agile_single_banner
                img.img-responsive(src='images/s1.jpg', alt='')
            .wthree_single_grid1
                p
                    | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    | praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                    | excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                    | officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    span
                        | Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                        | tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                        | id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis
                        | dolor repellendus.
                    |  Temporibus autem quibusdam et aut officiis debitis
                    | 					aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
                    | 					molestiae non recusandae.
                    span
                        | Itaque earum rerum hic tenetur a sapiente delectus,
                        | ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
                        | doloribus asperiores repellat.
                        | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
            .popular-posts
                h4.w3ls-title Popular Posts
                .popular-posts-grids
                    .col-md-3.col-sm-3.col-xs-6.popular-posts-grid
                        .popular-posts-grid1
                            a(href='single.html')
                                img.img-responsive(src='images/g3.jpg', alt=' ')
                            h4
                                a(href='single.html') dolori perior
                            p Itaque earum rerum hic tenetur a sapiente delectus.
                    .col-md-3.col-sm-3.col-xs-6.popular-posts-grid
                        .popular-posts-grid1
                            a(href='single.html')
                                img.img-responsive(src='images/g4.jpg', alt=' ')
                            h4
                                a(href='single.html') rerum tenetur
                            p Itaque earum rerum hic tenetur a sapiente delectus.
                    .col-md-3.col-sm-3.col-xs-6.popular-posts-grid
                        .popular-posts-grid1
                            a(href='single.html')
                                img.img-responsive(src='images/g5.jpg', alt=' ')
                            h4
                                a(href='single.html') saepe eveniet
                            p Itaque earum rerum hic tenetur a sapiente delectus.
                    .col-md-3.col-sm-3.col-xs-6.popular-posts-grid
                        .popular-posts-grid1
                            a(href='single.html')
                                img.img-responsive(src='images/g6.jpg', alt=' ')
                            h4
                                a(href='single.html') ipsum tenetur
                            p Itaque earum rerum hic tenetur a sapiente delectus.
                    .clearfix
            .author
                h4.w3ls-title  About Admin
                .author-grid
                    .author-grid-left
                        img.img-responsive(src='images/t1.jpg', alt=' ')
                    .author-grid-right
                        h4
                            a(href='#') Vaura Tegsner
                            span Popular Singer
                        p
                            | Nam libero tempore, cum soluta nobis est eligendi optio
                            | cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
                            | voluptas assumenda est, omnis dolor repellendus.
                        .social-icon
                            a.social-button.twitter(href='#')
                                i.fa.fa-twitter
                            a.social-button.facebook(href='#')
                                i.fa.fa-facebook
                            a.social-button.google(href='#')
                                i.fa.fa-google-plus
                            a.social-button.dribbble(href='#')
                                i.fa.fa-dribbble
                    .clearfix
            .write-reply
                h4.w3ls-title Write a Comment
                form(action='#', method='post')
                    input(type='text', name='Name', placeholder='Name', required='')
                    input(type='text', name='Email', placeholder='Email', required='')
                    textarea(name='Comment', placeholder='Write a comment here...', required='')
                    input(type='submit', value='Send')
    // //single
    // footer start here
    .agile-footer
        .container
            .footer-agileinfo
                .col-md-4.col-sm-6.footer-wthree-grid
                    h6
                        a(href='index.html') Focus
                    p
                        | Aenean vitae metus sit amet purus sodales blandit. Nullam ut dolor eu urna viverra semper. Mauris est odio, laoreet laoreet sapien non, sollicitudin bibendum nulla.
                .col-md-3.col-sm-6.footer-wthree-grid
                    h3 Navigation
                    ul
                        li
                            a(href='index.html') Home
                        li
                            a(href='about.html') About
                        li
                            a(href='portfolio.html') Portfolio
                        li
                            a(href='contact.html') Contact
                .col-md-2.col-sm-6.footer-wthree-grid
                    h3 Archives
                    ul
                        li
                            a(href='single.html') Nov 2016
                        li
                            a(href='single.html') Oct 2016
                        li
                            a(href='single.html') Sept 2016
                        li
                            a(href='single.html') Aug 2016
                .col-md-3.col-sm-6.footer-wthree-grid.w3social
                    h3 Social Media
                    ul
                        li
                            a(href='#')
                                i.fa.fa-google-plus
                                |  Google-plus
                        li
                            a(href='#')
                                i.fa.fa-facebook
                                |  Facebook
                        li
                            a(href='#')
                                i.fa.fa-twitter
                                |  Twitter
                        li
                            a(href='#')
                                i.fa.fa-dribbble
                                |  Dribbble
                .clearfix
    // //footer end here
    // copy rights start here
    .copyw3-agile
        .container
            p
                | © 2017 Focus. All Rights Reserved | Design by
                a(href='http://w3layouts.com/', target='_blank') W3layouts
    // //copy right end here
    script(src='../../assets/js/SmoothScroll.min.js')
    // start-smooth-scrolling
    script(type='text/javascript', src='../../assets/js/move-top.js')
    script(type='text/javascript', src='../../assets/js/easing.js')
    script(type='text/javascript').
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    // //end-smooth-scrolling
    // smooth-scrolling-of-move-up
    script(type='text/javascript').
        $(document).ready(function() {
            /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    // //smooth-scrolling-of-move-up
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='../../assets/js/bootstrap.js')
