
/**
common scss
 */
@import '../sass/_mixin.scss';
@import '../sass/_variables.scss';
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin : 0; padding : 0; } body, button, input, select, textarea { font-size : $font-size-base; line-height : $line-height-base; font-family : $font-family-serif; color : $text-color; } h1, h2, h3, h4, h5, h6 { font-size : 100%; } address, cite, dfn, em, var { font-style : normal; } code, kbd, pre, samp { font-family : $font-family-monospace; } small { font-size : $font-size-small; } ul, ol { list-style : none; } a { text-decoration : none; } a:hover { text-decoration : none; } sup { vertical-align : text-top; } sub { vertical-align : text-bottom; } legend { color : $black; } fieldset, img { border : 0; } button, input, select, textarea { font-size : 100%; } table { border-collapse : collapse; border-spacing : 0; } button, select { outline : none !important; } html,body,section{ height:100%; }
@media print {
  .notprint { display : none; }
}
@import '../app/index/index.scss';
@import '../app/layout/layout.scss';
@import '../app/index/index.scss';
@import "account/loginAndRegister";

