form.form-horizontal
    .form-group
        label.col-sm-2.control-label(for='inputEmail3') 邮箱
        .col-sm-10
            input#inputEmail3.form-control(type='email', placeholder='Email' ng-model="LoginFn.params.email")
    .form-group
        label.col-sm-2.control-label(for='inputPassword3' ) 密码
        .col-sm-10
            input#inputPassword3.form-control(type='password', placeholder='Password' ng-model="LoginFn.params.password")
    .form-group
        .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type='submit' ng-click="LoginFn.submit()") 登录