.login-container
    .banner-overlay-agileinfo
        // header
        .header-w3l
            h1 Frequent Sign In Form
        // //header
        // main
        .main-w3layouts-agileinfo
            // form-stars-here
            .wthree-form
                h2 Sign in to your account
                form(action='#', method='post')
                    .form-sub-w3
                        input(type='email', placeholder='Email' ng-model="LoginFn.params.email")
                        .icon-w3
                            i.fa.fa-user(aria-hidden='true')
                    .form-sub-w3
                        input(type='password', placeholder='Password' ng-model="LoginFn.params.password")
                        .icon-w3
                            i.fa.fa-unlock-alt(aria-hidden='true')
                    p.forgot-w3ls
                        | Forgot Password?
                        a(href='#')   Click here
                    p.forgot-w3ls1
                        | New User?
                        a(href='#')   Register here
                    .clear
                    .submit-agileits
                        input(type='submit' ng-click="LoginFn.submit()" value="登录")
            // //form-ends-here
        // //main
        // footer
        .footer
            p
                | © 2017 Frequent Sign In Form. All rights reserved | Design by
                a(href='http://w3layouts.com') W3layouts
        // //footer
